<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Integration Documentation System</h1>
    <p class="lead">Document your integrations fast and easy</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Entities</h1>
      <h2>New entity</h2>
      <form>
        <div class="form-group">
          <label for="entityName">Name</label>
          <input type="text" class="form-control" id="entityName" ng-model="newEntity.name">
        </div>
        <div class="form-group">
          <label for="entityName">Type</label>
          <select class="form-control" ng-model="newEntity.type">
            <option ng-repeat="entityType in fixedValues[0].entityTypes">{{ entityType }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="entityDescription">Description</label>
          <input type="text" class="form-control" id="entityDescription" ng-model="newEntity.description">
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
            <label for="entityProdiced">Produced</label>
              <div class="row">
                <div class="col-xs-8">
                  
                  <select class="form-control" ng-options="integrationPoint.urn group by integrationPoints.url for integrationPoint in integrationPoints" ng-model="tempProducingIntegrationPoint"></select>
                </div>
                <div class="col-xs-4">
                  <button class="btn btn-default" ng-click="newEntity.producing.push(tempProducingIntegrationPoint)">Add integration point</button>
                </div>
              </div>
            </div>
            <ul>
              <li ng-repeat="integrationPoint in newEntity.producing">{{integrationPoint.url}}</li>
            </ul>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="entityProdiced">Consumed</label>
              <div class="row">
                <div class="col-xs-8">
                  <select class="form-control" ng-options="integrationPoint.urn group by integrationPoints.url for integrationPoint in integrationPoints" ng-model="tempConsumingIntegrationPoint"></select>
                </div>
                <div class="col-xs-4">
                  <button class="btn btn-default" ng-click="newEntity.consuming.push(tempConsumingIntegrationPoint)">Add integration point</button>
                </div>
              </div>
            </div>
          </div>
            <ul>
              <li ng-repeat="integrationPoint in newEntity.consuming">{{integrationPoint.url}}</li>
            </ul>
        </div>
        <button ng-click="addEntity(newEntity)" class="btn btn-primary">Add entity</button>
      </form>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="entity in entities">
        <li><a href="#" tooltip="{{thing.info}}">{{entity.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Integration Points</h1>
      <h2>New integration point</h2>
      <form>
        <div class="form-group">
          <label for="entityName">Type</label>
          <select class="form-control" ng-model="newIntegrationPoint.type">
            <option ng-repeat="integrationPointType in fixedValues[0].integrationPointTypes">{{ integrationPointType }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="integrationpointUrl">URL</label>
          <input type="text" class="form-control" id="integrationpointUrl" ng-model="newIntegrationPoint.url">
        </div>
        <div class="form-group">
          <label for="integrationpointUrn">URN</label>
          <input type="text" class="form-control" id="integrationpointUrn" ng-model="newIntegrationPoint.urn">
        </div>
        <button ng-click="addIntegrationPoint(newIntegrationPoint)" class="btn btn-primary">Add integration point</button>
      </form>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="integrationPoint in integrationPoints">
        <li><a href="#" tooltip="{{thing.info}}">{{integrationPoint.url}} {{integrationPoint.urn}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Integration Documentation v0.1.0 |
        <a href="https://twitter.com/gitlestad">@gitlestad</a> |
         <a href="https://github.com/Rodjers/integration-doc/issues?state=open">Issues</a></p>
  </div>
</footer>
